<h3> Players </h3>
<p> <%= @player1 %> vs <%= @player2 %> </p>

Player 1
<%= @hp1 %>/100 HP
<p><progress id="p1" value="<%= @hp1 %>" max="100"> </progress></p>

Player 2
<%= @hp2 %>/100 HP
<p><progress id="p2" value="<%= @hp2 %>" max="100"> </progress></p>

<form action="/attack" method="post">
  <input type="submit" value="attack">
</form>
