<h2> Players </h2>
<h3> <%= @player1 %> vs <%= @player2 %> </h3>

<strong><%= @player1 %></strong>
<%= @hp1 %>/100 HP
<p><progress id="p1" value="<%= @hp1 %>" max="100"> </progress></p>

<strong><%= @player2 %></strong>
<%= @hp2 %>/100 HP
<p><progress id="p2" value="<%= @hp2 %>" max="100"> </progress></p>

<% unless @hp1 <= 0 || @hp2 <= 0 %>
  <form action="/attack" method="post">
    <input type="submit" value="attack">
  </form>
<% end %>
