<div id="players">
  <h1> <%= @player1.name %> vs <%= @player2.name %> </h1>
</div>

<div id="player1">
  <h2><strong><%= @player1.name %></strong></h2>
  <%= @player1.hp %>/100 HP
  <p>Paralyzed: <%= @player1.paralyzed %></p>
  <p>Poisoned: <%= @player1.poisoned %></p>
  <p>Sleeping: <%= @player1.sleeping %></p>
  <p><progress id="p1" value="<%= @player1.hp %>" max="100"> </progress></p>
</div>

<div id="player2">
  <h2><strong><%= @player2.name %></strong></h2>
  <%= @player2.hp %>/100 HP
  <p>Paralyzed: <%= @player2.paralyzed %></p>
  <p>Poisoned: <%= @player2.poisoned %></p>
  <p>Sleeping: <%= @player2.sleeping %></p>
  <p><progress id="p2" value="<%= @player2.hp %>" max="100"> </progress></p>
</div>

<div id="attacks">
  <% unless @player1.hp <= 0 || @player2.hp <= 0 %>
    <br/>
    <h2><strong><%= @current_player.name %></strong>'s turn</h2>
    <a href="/attack"><button>attack</button></a>
    <a href="/paralyze"><button>paralyze</button></a>
    <a href="/poison"><button>poison</button></a>
    <a href="/sleep"><button>sleep</button></a>
    <a href="/heal"><button>heal</button></a>
  <% end %>
</div>
