<h2> Players </h2>
<h3> <%= @player1.name %> vs <%= @player2.name %> </h3>

<strong><%= @player1.name %></strong>
<%= @player1.hp %>/100 HP
<p><progress id="p1" value="<%= @player1.hp %>" max="100"> </progress></p>

<strong><%= @player2.name %></strong>
<%= @player2.hp %>/100 HP
<p><progress id="p2" value="<%= @player2.hp %>" max="100"> </progress></p>

<% unless @player1.hp <= 0 || @player2.hp <= 0 %>
  <a href="/attack"><button>attack</button></a>
  <a href="/paralize"><button>paralize</button></a>
<% end %>
